# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

In [5]:
def addition(fval, sval):
    print(fval + sval)
    
addition(3, 2)
addition(-3, -6)
addition(7, 3)

5
-9
10

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

In [17]:
warmup_list = list(range(4, 3048, 2))

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

In [22]:
def first_last(x):
    list(x)
    out = x[0] + x[-1]
    return out  
    
first_last("demo")

do

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

In [58]:
def has_key(dict, key):
  #  print(key in dict)
  # assuming the above answer is too easy:
    
    out = False

    for k in dict:
        if k == key:
            out = True
    return out

test_d = {1:2, 3:4, 4:5}    
has_key(test_d, 2)

False

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

In [47]:
def key_count(x):
    
    out_dict = {}
    
    for i in x:
        if i not in out_dict:
            out_dict[i] = 1
        else:
            out_dict[i] = out_dict[i] + 1
                
    return out_dict
    
test_list = [1, 3, 2, 1, 5, 3, 5, 1, 4]
key_count(test_list)

{1: 3, 3: 2, 2: 1, 5: 2, 4: 1}

# Exercise 4: Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```

In [50]:
def test_distinct(x):

#     check = True
    check_list = []

    for i in x:
        if i not in check_list:
            check_list.append(i)
        elif i in check_list:
            return False

    return True

test_distinct([2,3,4,5,7,8]), test_distinct([2,3,4,5,8,8])

(True, False)

# Exercise 5: Debt Calculator

Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

In [195]:
#stolen round func
def round(n):
    if n % 1000:
        return(1 + n// 1000) * 1000
    else:
        return n


def debt_total(n):
    loan = 100_000
    interest = 1.05
    debt = loan
    j = list(range(n))
    for i in j:
        debt = round((debt * interest))
        
    return debt
    
debt_total(57)

1736000.0

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

In [56]:
def correct_stream(x, y):
    z = []
    for i in x:
        if i in y:
            z.append(1)
        else:
            z.append(0)
    return z

correct_stream(
  ["april", "showrs", "bring", "my", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
)

[1, 0, 1, 0, 1]

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

In [57]:
def Fizzbuzz(x):
    out = ""    
    for i in range(1, x+1):
        if i % 3 == 0 and i % 5 == 0:
            out = out + "FizzBuzz, "
        elif i % 5 == 0:
            out = out + "Buzz, "
        elif i % 3 == 0:
            out = out + "Fizz, "
        else:
            out = out + str(i)+", "
    return out

Fizzbuzz(150)

'1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, FizzBuzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, FizzBuzz, 31, 32, Fizz, 34, Buzz, Fizz, 37, 38, Fizz, Buzz, 41, Fizz, 43, 44, FizzBuzz, 46, 47, Fizz, 49, Buzz, Fizz, 52, 53, Fizz, Buzz, 56, Fizz, 58, 59, FizzBuzz, 61, 62, Fizz, 64, Buzz, Fizz, 67, 68, Fizz, Buzz, 71, Fizz, 73, 74, FizzBuzz, 76, 77, Fizz, 79, Buzz, Fizz, 82, 83, Fizz, Buzz, 86, Fizz, 88, 89, FizzBuzz, 91, 92, Fizz, 94, Buzz, Fizz, 97, 98, Fizz, Buzz, 101, Fizz, 103, 104, FizzBuzz, 106, 107, Fizz, 109, Buzz, Fizz, 112, 113, Fizz, Buzz, 116, Fizz, 118, 119, FizzBuzz, 121, 122, Fizz, 124, Buzz, Fizz, 127, 128, Fizz, Buzz, 131, Fizz, 133, 134, FizzBuzz, 136, 137, Fizz, 139, Buzz, Fizz, 142, 143, Fizz, Buzz, 146, Fizz, 148, 149, FizzBuzz, '

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    “laval” ⇒ Yes
    “montreal” ⇒ No
```

In [95]:
def palindrome(x):
    for i in range(len(x)):
        if (x[len(x)-(i+1)] == x[i]) == True:
            continue
        elif (x[len(x)-(i+1)] == x[i]) == False:
            return False
    return True
        

palindrome("hannah")

True

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form “userid-COUNTRYID”. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

In [142]:
def id_count(x):
    out_dict = {}
    for i in x:    
        val = i[-2:]
        if val not in out_dict:
            out_dict[val] = 1
        else:
            out_dict[val] = out_dict[val] + 1
    return out_dict

id_count(['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', 'yfyg82t3r-US', 'iuhsdf897y3righsfe-US','iushdf98h23ryg-IT', 'iuhdf9h32ryu9gf-IT',
    'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK'])

{'US': 3, 'CA': 1, 'IT': 2, 'FR': 1, 'UK': 1}

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

In [182]:
d = id_count(['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', 'yfyg82t3r-US', 'iuhsdf897y3righsfe-US','iushdf98h23ryg-IT', 'iuhdf9h32ryu9gf-IT',
    'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK'])

def id_top3(x):
    min_rank = 0
    min_key = ''    
    mid_rank = 0
    mid_key = ''
    top_rank = 0
    top_key = ''
    
    for k in x:
        if x[k] > min_rank and x[k] > top_rank:
            mid_rank = top_rank
            mid_key = top_key
            top_rank = x[k]
            top_key = k
            
        elif x[k] > min_rank > mid_rank:
            min_rank = mid_rank
            min_key = mid_key
            mid_rank = x[k]
            mid_key = k
            
        elif x[k] > min_rank:
            min_rank = x[k]
            min_key = k
            
    out = [ (top_key, top_rank), (mid_key, mid_rank), (min_key, min_rank) ]
    return out

id_top3(d)

[('US', 3), ('IT', 2), ('FR', 1)]

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(-332) ➞ -4

century_from_year(55) ➞ 1

century_from_year(-65) ➞ -1
```

In [217]:
def century_from_year(x):
    if x < 0:
        return x // 100
    else:
        return x // 100 + 1
            
century_from_year(99), century_from_year(101), century_from_year(-99), century_from_year(-101)

(1, 2, -1, -2)

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

In [35]:
def grade_school_addition(x,y):
    r = [0] * (len(x)+1)
    carry = 0
    for i in range(1, len(x)+1):
        r[-i] = (x[-i] + y[-i] + carry) % 10
        carry = (x[-i] + y[-i] + carry) // 10
    r[-len(x)-1] = carry
    out = "".join([str(i) for i in r])
    return int(out)
    
grade_school_addition([1,7,8],[2,2,3])

401

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [6]:
def quite_pretty_pyramid(n):
    for i in range(0, ((n*2)-1)):
        if i <= n:
            print("* " * i)
        elif i > n:
            print("* " * ((n*2) - i))
    print("* ")
    # as written, wont include final star, thus adding it in at the end outside the loop
            
                   
quite_pretty_pyramid(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does count double and the number that comes immediately after a 7 counts triple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

In [15]:
def lucky_seven(x):
    total = 0
    seven = 0
    for i in x:
        if i == 7:
            if seven == True:
                total = total + (i * 3)      
            elif seven == False:
                seven = True
                total = total + (i * 2)
                
        if i != 7:
            if seven == True:
                total = total + (i * 3)
                seven = False
            elif seven != True:
                total = total + i
    return total

lucky_seven([1, 2, 2, 1, 7, 3, 1])

30

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```